:root{
    overflow-x: hidden;
}
body{
    
}
.components{
    overflow-x: hidden;
}
/***********
1. TOPBAR
***********/
.topbar{
    padding: 0 4.5%;
    height: 80px;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}
.topbar p{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    line-height: 80px;
}
.topbar .others{
    align-self: flex-end;
    height: 100%;
}
.topbar ul{
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: inline-flex;
    margin-left: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.topbar ul li{
    height: 100%;
    line-height: 80px;
    color: rgb(102, 102, 102);
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.topbar .number{
    line-height: 80px;
    color: rgb(63, 63, 63);
    font-size: 1.1rem;
    margin-left: 40px;
    align-self: flex-end;
}
.logo{
    text-transform: uppercase;
    font-size: 1.45rem;
    font-weight: 700;
    color: rgb(65, 64, 64);
}
span.plus{
    color: #32c69a;
    font-size: 2rem;
    font-weight: bolder;
}
.hamburger{
    display: none;
}
.hamburger div{
    background-color: black;
    
}

.hamburger:hover div{
    opacity: 0.8;
    background-color: #32c69a;  
}

@media screen and (max-width: 992px){
    .topbar{
        padding: 0 20px;
        position: sticky;
        top: 0;
        background-color: white;
        width: 100%;
        display: flex;
    }
    .hamburger{
        display: flex;
        width: 25px;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        height: 100%;
        padding: 30px 0px;
    }
    .hamburger div{
        margin: 2px;
        width: 100%;
        height: 3px;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .topbar ul{
        display: none;
    }
    .topbar ul li{
        display: none;
    }
    .topbar .others span{
        display: none;
    }
}
/***********************
1. NAVIGATION MENU
***********************/
.navigation{
    display: flex;
    background-color: #32c69a;
    height: 80px;
    padding: 0 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1500;
}
.navigation a{
    text-transform: uppercase;
    color: #ffffff;
    height: 100%;
    line-height: 80px;
    font-weight: 500;
    font-size: 0.85rem;
}
.navigation a:hover{
    text-decoration: none;
    color: #ffffff;
}
.navigation input{
    width: 340px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 20px 20px;
    font-size: 0.8rem;
    vertical-align: middle;
}
.navigation input::placeholder{
    color: #acacac;
    font-style: italic;
    font-weight: 400;
}
@media screen and (max-width: 992px){
    div.navigation{
        display: none;
    }
}
/***********************
1. MOBILE MENU
***********************/
.mobile-menu{
    display: none;
    z-index: 1005;
}
@media screen and (max-width: 992px){
    .mobile-menu{
        display: flex;
        position: absolute;
        background-color: turquoise;
        top: 0px;
        z-index: 1500;
        height: 100vh;
        opacity: 0.85;
        width: 0vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: width 1s ease;
        -webkit-transition: width 0.5s ease;
        -moz-transition: width 0.5s ease;
        -o-transition: width 0.5s ease;
    }
    .mobile-menu *{
        opacity: 1;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .mobile-menu input{
        border: none;
        width: 70vw;
        padding: 0px 20px;
        color: black;
        outline: none;
        font-size: 0.8rem;
        height: 40px;
        opacity: 0;
    }
    .mobile-menu input::placeholder{
        font-size: 0.9rem;
        font-style: italic;
    }
    .mobile-menu .close{
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        align-self: flex-end;
        margin-right: 30px;
        opacity: 2;
    }
    .mobile-menu a:not(.close){
        visibility: hidden;
    }
}
/***********************
FOOTER
***********************/
.footer{
    margin-top: 100px;
    background: url(Images/footer.jpg);
    padding: 80px 8%;
    color: white;
    font-weight: 620;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .health {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer .health span{
    color: #32c69a;
    font-size: 2rem;
    font-weight: 800;
}
.footer .quick{
    font-size: 1.4rem;
    margin-bottom: 50px;
}
.footer input{
    background-color: #727272;
    border: none;
    color: white;
}
.footer .first-inputs .top{
    width: 48.5%;
    margin-bottom: 15px;
    height: 45px;
}
@media screen and (max-width: 900px){
    .footer .first-inputs .top{
        display: block;
        width: 100%;
    }
    .footer .first-inputs{
        display: block;
    }
}
.footer .first-inputs .top::placeholder{
    color: white;
    font-style: italic;
    padding: 0px 12px;
}
.footer .first-inputs .two{
    margin-left: 3%;
}
@media screen and (max-width: 900px){
    .footer .first-inputs .two{
        margin-left: 0%;
    } 
}
.footer .message{
    background-color: #727272;
    height: 100px;
    border: none;
    border-radius: 0px;
    margin-bottom: 15px;
}
.footer .message::placeholder{
    color: white;
    font-style: italic;
}
.footer .submit{
    background-color: #32c69a;
    color: white;
    border: none;
    border-radius: 0px;
    height: 55px;
    font-size: 0.8rem;
    font-weight: 500;
}
.footer .time{
    background-color: rgba(15, 12, 12, 0.9);
    opacity: 0.5;
    color: white;
    padding: 35px 25px 20px 25px;
    margin-top: -36px;
    margin-right: 0px;
}
@media screen and (max-width: 992px){
    .footer .time{
        margin-top: 10px;
    }
}
.tt{
    justify-content: space-between;
}
.mb-10{
    margin-bottom: 5.5rem;
}
.pneg{
    margin-left: -14px;
    margin-right: -14px;
    flex-grow: 1;
}
